{% extends 'base.html' %}
{% block pagename %}Feed{% endblock pagename %}
{% block username %}FilipeChagas{% endblock username %}
{% block content %}
<div class="p-3 border bg-light">
    <div class="row mb-2">
        <div class="col fw-bold">
            Author Name
        </div>
        <div class="col-auto">
            DateTime    
        </div>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, debitis! Iste, vitae! Magnam, ipsum incidunt eaque voluptatem voluptas, aspernatur odit veritatis fugiat accusantium quasi, hic totam molestiae neque alias! Qui.
</div>
{% endblock content %}
    
    